font-face {
    font-family: 'Lato';
    src: url("/assets/fonts/lato-black.ttf");
}

font-face {
    font-family: 'Lato';
    src: url("/assets/fonts/lato-bold.ttf");
}

font-face {
    font-family: 'Lato';
    src: url("/assets/fonts/lato-light.ttf");
}

font-face {
    font-family: 'Lato';
    src: url("/assets/fonts/lato-regular.ttf");
}

body {
    font-family: Lato, sans-serif;
    margin: 0;
}

.header {
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    height: 89px;
    width: 100%;
  }

.wrapper {
    height: 100%;
    margin: 0 auto;
    width: 940px;
}

.header__block {
    align-items: center;
    background-color:#2d303a;
    display: flex;
    justify-content: space-between;
}

.header__logo h1 {
    color: #ffffff;
    font-size: 25px;
    font-stretch: condensed;
    font-weight: bold;
    letter-spacing: -0.5px;
}

.header__logo span {
    color: #f06c64;
    margin-left: 0;
}

ul {
    display: flex;
    margin: 0;
    margin-top: 7px;
}

li {
    color: #ffffff;
    list-style-type: none;
}

li:not(:nth-child(1)):before {
    color: #494e62;
    content: "•";
    font-size: 12px;
    padding: 0 11.5px;
   }

.menu-items a {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.menu-items a:hover {
    color: #f06c64;
}

.item-active a {
    color: #f06c64;
    }

.slider {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.slider__block {
    display: flex;
}

.iphone-block {
    margin-bottom: 83px;
    padding-top: 53px;
    width: 310px;
}

.iphone-block-hor {
    padding-top: 174px;
    width: 500px;
}

.iphone {
    background-color: #f2f2f2;
    border-radius: 27px;
    box-shadow:
            1px 1px #ce5d56,
            2px 2px #ce5d56,
            3px 3px #ce5d56,
            4px 4px #ce5d56,
            5px 5px #ce5d56,
            6px 6px #ce5d56,
            7px 7px #ce5d56,
            8px 8px #ce5d56,
            8px 9px #ce5d56,
            9px 9px #ce5d56,
            10px 10px #ce5d56,
            11px 11px #ce5d56,
            12px 12px #ce5d56,
            13px 13px #ce5d56,
            14px 14px #ce5d56,
            15px 15px #ce5d56,
            16px 16px #ce5d56,
            17px 17px #ce5d56,
            18px 18px #ce5d56,
            19px 19px #ce5d56,
            20px 20px #ce5d56,
            21px 21px #ce5d56,
            22px 22px #ce5d56,
            23px 23px #ce5d56,
            24px 24px #ce5d56,
            25px 25px #ce5d56;
    display: flex;
    flex-direction: column;
    height: 442px;
    margin-left: 2px;
    margin-right: 98px;
    padding-top: 16px;
    width: 215px;
}

.iphone-hor {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    height: 215px;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    width: 458px;
  }

.cam {
    background-color: #eb5055;
    border: 3px solid #d8d8d8;
    border-radius: 50%;
    height: 4px;
    margin: 0 auto;
    width: 4px;
}

.cam-hor {
    margin: 0;
    margin-right: 16px;
}

.speaker {
    background-color: #acacac;
    border-radius: 2.5px;
    height: 5px;
    margin: 0 auto;
    margin-top: 10px;
    width: 36px;
}

.speaker-hor {
    height: 36px;
    margin: 0;
    margin-right: 10px;
    width: 5px;
}

.screen {
    background-image: url(assets/img/screen01.png);
    background-position: bottom -3px left -3px;
    border: 3px solid #c6c6c6;
    border-radius: 5px;
    height: 333px;
    margin: 0 auto;
    margin-top: 21px;
    width: 188px;
}

.screen-hor {
    background-image: url(assets/img/screen02.png);
    background-position: bottom -4px left -2px;
    height: 188px;
    margin: 0;
    margin-right: 22px;
    width: 333px;
}

.iphone-button {
    align-items: center;
    background-color: #fafafa;
    border-radius: 50%;
    display: flex;
    height: 42px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 7px;
    width: 42px;
}

.iphone-button-hor {
margin: 0;
margin-right: 7px;

}

.square {
    background-color: transparent;
    border: 2px solid #c2c2c2;
    border-radius: 4px;
    height: 12.5px;
    margin: 0 auto;
    width: 12.5px;
}

.slider__arrows {
    margin-right: 2px;
    padding-top: 281px;
    width: 70px;
}

.button-left {
    background-color: transparent;
    border: none;
    margin-left: 2px;
    padding: 0;
}

.slider__arrows-right {
    text-align: right;
    
}

.slider__arrows img {
    filter: brightness(0.9);
    transition: 0.2s;
}

.slider__arrows img:hover {
    filter: brightness(0.4);
}

.services {
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;

}

.services__block {
    padding-top: 59px;
}

.services__title {
    color: #666d89;
    font-size: 30px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 18px;
}

.services__block p {
    color: #767e9e;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.667;
    letter-spacing: -0.04px;
    margin: 0;
    margin-bottom: 41px;
}

.services__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 36px;
}

.services__card {
    display: flex;
    height: 97px;
    margin-bottom: 28px;
    width: 301px;
}

.card__text-cont {
    height: 66px;
    overflow: hidden;
    width: 100%;
}

.card__pic {
    margin-right: 8px;
    margin-top: 5px;
}

.card__info {
    padding-left: 11px;
    width: 220px;
}

.card__title {
    color: #666d89;
    font-size: 18px;
    font-weight: 900;
    margin: 1px 0 8px 0;
}

.card__title-support {
    letter-spacing: -0.3px;
}

.services__block .card__text {
    font-size: 11px;
    font-weight: 700;
    hyphens: manual;
    -moz-hyphens: manual;
    -ms-hyphens: manual;
    letter-spacing: 0.4px;
    line-height: 22px;
    margin: 0;
    text-align: justify;
    text-overflow: clip;
}